.right{
    position: absolute;
    right: 20px;
    top: 80px;
    font-size: 25px;
}
.second-div{
    background-color: rgb(75, 82, 63);
    width: 100%;
    height: 150px;
    }
    .third-div{
        
    background-color: rgb(236, 12, 12);
    width: 100%;
    height: 20px;
    
    
    }
    .fourth-div{
        display: flex;
    
    background-color: rgba(237, 240, 223, 0.767);
    width: 100%;
    height: 1500px;
    }
    .fifth-div{
        background-color: black;
        width: 100%;
        height: 300px;
    }
    #link{
        color: red;
        font-size: 20px;
        lighting-color: white;
        
        
    }
    #button{
        background-color: red;
        color: white;
        border-radius: 50px;
        border-color: red;
        width: 150px;
        height: 60px;
        }
        #head1{
            font-size: 40px;
            color:rgba(237, 240, 223, 0.767);
            position: absolute;
            top: 40px;
            font-family: Bahnschrift SemiLight Condensed;
            padding: 15px;
        
        }
        #head2{
            font-size: 70px;
            color: red;
            position: absolute;
            top: 18px;
            left: 290px;
            font-family: Brush Script MT;
            padding: 15px;
        }
        .inter-1{
         flex-basis: 35%;
         padding: 20px;
        }
        .inter-2{
            flex-basis: 35%;
            padding: 20px;
        }
    .inter-3{
        flex-basis: 30%;
        padding: 20px;
    }
    #button1{
        background-color:white;
        color:red;
        border-radius: 50px;
        border-color: red;
        width: 200px;
        height: 55px;
    }
    #tit{
        color: red;
        font-size: 40px;
    }
    .fourt-div{
    
    width: 100%;
    height: 1200px;
    padding: 20px;
    background-color: rgba(237, 240, 223, 0.767);
    font-size: 20px;

    }
    #link2{
        color: red;
        font-size: 15px;
        lighting-color: white;
        color: white;
        
    }
    #box{
        height: 25px;
        width: 360px;
        border-radius: 10%;
        background-color: rgb(209, 221, 187);
        color:black;
        border-color: red;
    }
    .main-div{
        background-image: url(background.png);
    }
    #pic{
        width: 250px;
        border-radius: 50%;
    }
    #head3{
        font-size: 40px;
        color:rgba(237, 240, 223, 0.767);
       
        font-family: Bahnschrift SemiLight Condensed;
        padding: 15px;
    }
    #head4{
        font-size: 70px;
            color: red;
            
            
            font-family: Brush Script MT;
            padding: 15px;
    }
    #name{
        padding: 20px;
    }